.timer {
  display: flex;

  justify-content: center;
}

.field {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}

.value {
  font-size: 80px;
}
